[submodule "power_bi_analyst"]
	path = power_bi_analyst
	url = https://github.com/julianazanelatto/power_bi_analyst.git
[submodule "evolution-api"]
	path = evolution-api
	url = https://github.com/EvolutionAPI/evolution-api.git
[submodule "dio-lab-open-source"]
	path = dio-lab-open-source
	url = https://github.com/digitalinnovationone/dio-lab-open-source.git
[submodule "BootcampSantander"]
	path = BootcampSantander
	url = https://github.com/Dubbern/BootcampSantander.git
[submodule "Case-Embarcados"]
	path = Case-Embarcados
	url = https://github.com/Dubbern/Case-Embarcados.git
[submodule "DDuas"]
	path = DDuas
	url = https://github.com/Dubbern/DDuas.git
[submodule "saas-atendimento-frame"]
	path = saas-atendimento-frame
	url = https://github.com/Dubbern/saas-atendimento-frame.git
[submodule "JhonesAI_Ecosystem"]
	path = JhonesAI_Ecosystem
	url = https://github.com/Dubbern/JhonesAI_Ecosystem.git
[submodule "Jarvis"]
	path = Jarvis
	url = https://github.com/Dubbern/Jarvis.git
[submodule "ConectaAI"]
	path = ConectaAI
	url = https://github.com/Dubbern/ConectaAI.git
[submodule "ocr"]
	path = ocr
	url = https://github.com/Dubbern/OCR.git
[submodule "projetos_pequenos"]
	path = projetos_pequenos
	url = https://github.com/Dubbern/Projetos_Pequenos.git
[submodule "conecta-ai"]
	path = conecta-ai
	url = https://github.com/Dubbern/conectaAI_deploy.git
